<h1>Содержание<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Подготовка-данных" data-toc-modified-id="Подготовка-данных-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Подготовка данных</a></span></li><li><span><a href="#Исследование-задачи" data-toc-modified-id="Исследование-задачи-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Исследование задачи</a></span></li><li><span><a href="#Борьба-с-дисбалансом" data-toc-modified-id="Борьба-с-дисбалансом-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Борьба с дисбалансом</a></span></li><li><span><a href="#Тестирование-модели" data-toc-modified-id="Тестирование-модели-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Тестирование модели</a></span></li><li><span><a href="#Чек-лист-готовности-проекта" data-toc-modified-id="Чек-лист-готовности-проекта-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Чек-лист готовности проекта</a></span></li></ul></div>

# Отток клиентов

Из «Бета-Банка» стали уходить клиенты. Каждый месяц. Немного, но заметно. Банковские маркетологи посчитали: сохранять текущих клиентов дешевле, чем привлекать новых.

Нужно спрогнозировать, уйдёт клиент из банка в ближайшее время или нет. Вам предоставлены исторические данные о поведении клиентов и расторжении договоров с банком. 

Постройте модель с предельно большим значением *F1*-меры. Чтобы сдать проект успешно, нужно довести метрику до 0.59. Проверьте *F1*-меру на тестовой выборке самостоятельно.

Дополнительно измеряйте *AUC-ROC*, сравнивайте её значение с *F1*-мерой.

Источник данных: [https://www.kaggle.com/barelydedicated/bank-customer-churn-modeling](https://www.kaggle.com/barelydedicated/bank-customer-churn-modeling)

## Подготовка данных

In [14]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score
from sklearn.preprocessing import OrdinalEncoder, StandardScaler
from sklearn.utils import shuffle

In [17]:
df = pd.read_csv("C:/Users/andrey/Documents/Yandex_git/Churn.csv")

In [18]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2.0,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1.0,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8.0,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1.0,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2.0,125510.82,1,1,1,79084.10,0

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           9091 non-null   float64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(3), int64(8), object(3)
memory usage: 1.1+ MB

видим что в столбце Tenure есть пропуски , из 109, посмотрим на данные в столбце Tenure :

In [37]:
df['Tenure'].value_counts()

1.0     952
2.0     950
8.0     933
3.0     928
5.0     927
7.0     925
4.0     885
9.0     882
6.0     881
10.0    446
0.0     382
Name: Tenure, dtype: int64

0 лет присутствует в данных ( видимо новые клиенты), предположение что пропуск это новые - не подтвердилось 
считаю что можно удалить эти строки .

In [38]:
df.dropna(subset = ['Tenure'], inplace=True)

In [39]:
df.info() # проверим :

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9091 entries, 0 to 9998
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        9091 non-null   int64
 1   CustomerId       9091 non-null   int64
 2   Surname          9091 non-null   object
 3   CreditScore      9091 non-null   int64
 4   Geography        9091 non-null   object
 5   Gender           9091 non-null   object
 6   Age              9091 non-null   int64
 7   Tenure           9091 non-null   float64
 8   Balance          9091 non-null   float64
 9   NumOfProducts    9091 non-null   int64
 10  HasCrCard        9091 non-null   int64
 11  IsActiveMember   9091 non-null   int64
 12  EstimatedSalary  9091 non-null   float64
 13  Exited           9091 non-null   int64
dtypes: float64(3), int64(8), object(3)
memory usage: 1.0+ MB

In [40]:
df = df.drop(columns=['RowNumber', 'CustomerId', 'Surname'])  # delete unneeded columns

In [41]:
df.info() # проверим

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9091 entries, 0 to 9998
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      9091 non-null   int64
 1   Geography        9091 non-null   object
 2   Gender           9091 non-null   object
 3   Age              9091 non-null   int64
 4   Tenure           9091 non-null   float64
 5   Balance          9091 non-null   float64
 6   NumOfProducts    9091 non-null   int64
 7   HasCrCard        9091 non-null   int64
 8   IsActiveMember   9091 non-null   int64
 9   EstimatedSalary  9091 non-null   float64
 10  Exited           9091 non-null   int64
dtypes: float64(3), int64(6), object(2)
memory usage: 852.3+ KB

подготовим выборку к обучению : заменим категориальные переменные на численные , разделим датасет на обучающую , валидационную и тестовую

In [42]:
df_ohe = pd.get_dummies(df, drop_first=True) # категориальные в количественные

In [43]:
df_ohe.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2.0,0.00,1,1,1,101348.88,1,0,0,0
1,608,41,1.0,83807.86,1,0,1,112542.58,0,0,1,0
2,502,42,8.0,159660.80,3,1,0,113931.57,1,0,0,0
3,699,39,1.0,0.00,2,0,0,93826.63,0,0,0,0
4,850,43,2.0,125510.82,1,1,1,79084.10,0,0,1,0

In [44]:
# разделим целевой признак и признаки 
target = df_ohe['Exited']
features = df_ohe.drop('Exited', axis=1)

In [45]:
#разделим выборки :
features_train, features_valid, target_train, target_valid = train_test_split(features, target, test_size=0.25, random_state=12345)
features_valid, features_test, target_valid, target_test = train_test_split(features_valid, target_valid, test_size=0.5, random_state=12345)

Импортировали все необходимые библиотеки и функции 
загрузили датасет
Предобработку провели , строки с пропусками удалили, столбцы с ненужными данными - удалили 
подготовили датасет : изменили категориальные значения на количественные , выделили целевой признак и признаки , разделили выборку на обучающую , валидационную и тестовую ( так как тестовая не предоставлена)

## Исследование задачи

изучим баланс классов :

In [46]:
df['Exited'].value_counts()

0    7237
1    1854
Name: Exited, dtype: int64

классы не сбалансированы , соотношение 20/80

построим модели на несбалансированных классах , рассчитаем метрики F1 и AUC ROC, подберем наилучшие гиперпараметры

Построим случайный лес :

In [47]:
#сначала подберем наилучший параметр depth:
for depth in range(1, 30, 1):
    model = RandomForestClassifier(n_estimators=30, max_depth=depth, random_state=12345)
    model.fit(features_train, target_train)
    predicted_valid = model.predict(features_valid)
    f1 = f1_score(target_valid, predicted_valid)
    print("Depth", depth, ":", f1)

Depth 1 : 0.0
Depth 2 : 0.18897637795275588
Depth 3 : 0.2566037735849057
Depth 4 : 0.4342105263157895
Depth 5 : 0.5106382978723404
Depth 6 : 0.5406976744186047
Depth 7 : 0.5625
Depth 8 : 0.5633802816901409
Depth 9 : 0.5658263305322129
Depth 10 : 0.5674157303370786
Depth 11 : 0.580110497237569
Depth 12 : 0.6182795698924731
Depth 13 : 0.5660377358490566
Depth 14 : 0.6137566137566137
Depth 15 : 0.5866666666666667
Depth 16 : 0.6041666666666666
Depth 17 : 0.5844504021447721
Depth 18 : 0.5767195767195767
Depth 19 : 0.578811369509044
Depth 20 : 0.5894736842105264
Depth 21 : 0.5683060109289617
Depth 22 : 0.5898123324396783
Depth 23 : 0.584022038567493
Depth 24 : 0.5907859078590786
Depth 25 : 0.5768194070080862
Depth 26 : 0.5891891891891892
Depth 27 : 0.5869565217391305
Depth 28 : 0.5853658536585367
Depth 29 : 0.5876010781671158

Depth возьмем равный 16

In [48]:
# теперь для depth = 16 подберем наилучший n_estimators
for est in range(20, 150, 10):
    model = RandomForestClassifier(n_estimators=est, random_state=12345, max_depth=16)
    model.fit(features_train, target_train)
    predicted_valid = model.predict(features_valid)
    f1 = f1_score(target_valid, predicted_valid)
    print("n_estimators =", est, ":", f1)

n_estimators = 20 : 0.6093749999999999
n_estimators = 30 : 0.6041666666666666
n_estimators = 40 : 0.6109660574412532
n_estimators = 50 : 0.6145833333333334
n_estimators = 60 : 0.6141732283464566
n_estimators = 70 : 0.6121372031662269
n_estimators = 80 : 0.6036745406824147
n_estimators = 90 : 0.6031746031746031
n_estimators = 100 : 0.6036745406824147
n_estimators = 110 : 0.605263157894737
n_estimators = 120 : 0.6015831134564644
n_estimators = 130 : 0.6020942408376964
n_estimators = 140 : 0.6031746031746031

n_estimators возьмем = 60

In [49]:
probabilities_valid_rf = model.predict_proba(features_valid)
probabilities_one_valid_rf = probabilities_valid_rf[:, 1]
auc_roc_rf = roc_auc_score(target_valid, probabilities_one_valid_rf)
print(auc_roc_rf)

0.861493425472694

Вывод : значение F1 наилучшее при depth = 16 и n_estimators = 60

Решающее дерево:

In [50]:
#сначала подберем наилучший параметр depth:
for depth in range(1, 30, 1):
    model = DecisionTreeClassifier(max_depth=depth, random_state=12345)
    model.fit(features_train, target_train)
    predicted_valid = model.predict(features_valid)
    f1 = f1_score(target_valid, predicted_valid)
    print("depth =", depth, ":", f1)

depth = 1 : 0.0
depth = 2 : 0.5643564356435643
depth = 3 : 0.44012944983818775
depth = 4 : 0.5730027548209367
depth = 5 : 0.5212121212121212
depth = 6 : 0.5754189944134078
depth = 7 : 0.5729166666666667
depth = 8 : 0.5464190981432361
depth = 9 : 0.5343511450381679
depth = 10 : 0.4961636828644501
depth = 11 : 0.5206812652068126
depth = 12 : 0.4964200477326968
depth = 13 : 0.5069767441860464
depth = 14 : 0.48291571753986334
depth = 15 : 0.46220302375809935
depth = 16 : 0.4605543710021322
depth = 17 : 0.47133757961783435
depth = 18 : 0.46413502109704635
depth = 19 : 0.4742268041237114
depth = 20 : 0.47835051546391755
depth = 21 : 0.45041322314049587
depth = 22 : 0.4462809917355372
depth = 23 : 0.45252525252525255
depth = 24 : 0.45252525252525255
depth = 25 : 0.45252525252525255
depth = 26 : 0.45252525252525255
depth = 27 : 0.45252525252525255
depth = 28 : 0.45252525252525255
depth = 29 : 0.45252525252525255

Показатели метрики F1 наибольшие при depth = 6, но хуже чем у RandomForestClassifier

In [51]:
probabilities_valid_dt = model.predict_proba(features_valid)
probabilities_one_valid_dt = probabilities_valid_dt[:, 1]
auc_roc = roc_auc_score(target_valid, probabilities_one_valid_dt)
print(auc_roc)

0.65904117477685

Вывод : F1 и ROC AUC лучше у модели RandomForestClassifier

## Борьба с дисбалансом

Проверим модели на сбалансированных классах :

In [52]:
model_balanced = DecisionTreeClassifier(random_state=12345, max_depth=6, class_weight = 'balanced')
model_balanced.fit(features_train, target_train)

predicted_valid = model_balanced.predict(features_valid)
f1_balanced = f1_score(target_valid, predicted_valid)
print("F1:", f1_balanced)

F1: 0.5533333333333333

In [53]:
model_balanced_rf = RandomForestClassifier(n_estimators=60, random_state=12345, max_depth=16, class_weight = 'balanced')
model_balanced_rf.fit(features_train, target_train)

predicted_valid_rf = model_balanced_rf.predict(features_valid)
f1_balanced_rf = f1_score(target_valid, predicted_valid_rf)
print("F1:", f1_balanced_rf)

F1: 0.577319587628866

Наилучшие результаты показала модель RandomForestClassifier

проверим методом увеличения выборки :

In [54]:
#создадим функцию :

def upsample(features, target, repeat):
    features_zeros = features[target == 0]
    features_ones = features[target == 1]
    target_zeros = target[target == 0]
    target_ones = target[target == 1]

    features_upsampled = pd.concat([features_zeros] + [features_ones] * repeat)
    target_upsampled = pd.concat([target_zeros] + [target_ones] * repeat)
    
    features_upsampled, target_upsampled = shuffle(
        features_upsampled, target_upsampled, random_state=12345)
    
    return features_upsampled, target_upsampled

In [55]:
features_upsampled, target_upsampled = upsample(features_train, target_train, 4)
print(features_upsampled.shape)
print(target_upsampled.shape)

(11027, 11)
(11027,)

In [56]:
#проверим на увеличенной выборке модель RandomForestClassifier:

model_balanced1 = RandomForestClassifier(n_estimators=60, random_state=12345, max_depth=16)
model_balanced1.fit(features_upsampled, target_upsampled)

predicted_valid1 = model_balanced1.predict(features_valid)
f1_balanced1 = f1_score(target_valid, predicted_valid1)
print("F1:", f1_balanced1)

F1: 0.6247191011235954

In [57]:
#проверим на увеличенной выборке модель DecisionTreeClassifier:

model_balanced2 = DecisionTreeClassifier(random_state=12345, max_depth=6)
model_balanced2.fit(features_upsampled, target_upsampled)

predicted_valid2 = model_balanced2.predict(features_valid)
f1_balanced2 = f1_score(target_valid, predicted_valid2)
print("F1:", f1_balanced2)

F1: 0.5561139028475712

Вывод : значение F1 для модели RandomForestClassifier 0,6371 достаточно для выполнения задачи .

## Тестирование модели

протестируем модель RandomForestClassifier :

In [58]:
model = RandomForestClassifier(n_estimators=60, random_state=12345, max_depth=16,  class_weight = 'balanced')
model.fit(features_train, target_train)

predicted_test = model.predict(features_test)
f1 = f1_score(target_test, predicted_test)
print("F1:", f1)

F1: 0.554016620498615

In [59]:
probabilities_valid = model.predict_proba(features_valid)
probabilities_one_valid = probabilities_valid[:, 1]


auc_roc = roc_auc_score(target_valid, probabilities_one_valid)
print(auc_roc)

0.8497864478356849

на тестовой выборке F1 0,55 что меньше заданного.

In [60]:
model = RandomForestClassifier(n_estimators=100, random_state=12345, max_depth=10,  class_weight = 'balanced')
model.fit(features_train, target_train)

predicted_test_1 = model.predict(features_test)
f1 = f1_score(target_test, predicted_test_1)
print("F1:", f1)

F1: 0.593548387096774

изменением параметрf depth до 10 и  n_estimators до 100 заданное значение достигнуто

Проведена работа по созданию модели машинного обучения для определения клиентов вероятность ухода которых высока.
На начальном этапе датесет был изучен , обработаны пропуски , удалены лишние столбцы.

Далее датасет был подготовлен для обучения модели:
разделен на обучающую , валидационную и тестовую выборки , обьектные переменные были переведены в численные .
определен целевой признак и признаки 

проверен и выявлен дисбаланс классов.

Обучены 2 модели , дерево принятия решений и случайный лес, на несбалансированной выборке с изменением гиперпараметров ,
обученные модели проверены на валидационной выборке , лучшие результаты показала модель случайного леса.

далее 2мя методами сбалансировав классы проверены модели ерево принятия решений и случайный лес, лучшие результаты получены на модели случайного леса.

Результаты проверки выбранной модели на тестовой выборке с гиперпараметрами опледеленными ранее дали F1 0,554 что менее требуемого .
После изменения гиперпараметров F1 = 0,59,35 что достаточно длявыполнения задания.

## Чек-лист готовности проекта

Поставьте 'x' в выполненных пунктах. Далее нажмите Shift+Enter.

- [x]  Jupyter Notebook открыт
- [х]  Весь код выполняется без ошибок
- [х]  Ячейки с кодом расположены в порядке исполнения
- [х]  Выполнен шаг 1: данные подготовлены
- [х]  Выполнен шаг 2: задача исследована
    - [х]  Исследован баланс классов
    - [х]  Изучены модели без учёта дисбаланса
    - [х]  Написаны выводы по результатам исследования
- [х]  Выполнен шаг 3: учтён дисбаланс
    - [х]  Применено несколько способов борьбы с дисбалансом
    - [х]  Написаны выводы по результатам исследования
- [х]  Выполнен шаг 4: проведено тестирование
- [х]  Удалось достичь *F1*-меры не менее 0.59
- [х]  Исследована метрика *AUC-ROC*